.full{
  display: inline-block;
  padding: $regular-padding * 2 $regular-padding * 8;
  vertical-align: top;
  width: 100%;
  @include respond-to(mobile){
    width: 100%;
    padding: $regular-padding * 2 $regular-padding * 2;
  }
  @include respond-to(medium){
    width: 100%;
    padding: $regular-padding * 2 $regular-padding * 2;
  }
}

.half{
  display: inline-block;
  padding: $regular-padding * 2 $regular-padding * 4;
  vertical-align: top;
  width: 50%;
  @include respond-to(mobile){
    width: 100%;
    padding: $regular-padding * 2 $regular-padding * 2;

  }
  @include respond-to(medium){
    width: 100%;
    padding: $regular-padding * 2 $regular-padding * 2;

  }
}

.row{
  clear: both;
  height:  auto;
  overflow: hidden;
  padding: ($space-row/2) 0;
}

.container{
  margin: 0 auto;
  width: $content-width;
}
