@mixin disable-spaces(){
  margin: 0;
  padding: 0;
}

@mixin border-box(){
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin negative($property){
  @if $property == color{
    color: $background-color;
  }
  @if $property == background{
    background: $brand-color;
  }
}

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $break-mobile) {
      @content
    }
  }
  @else if $media == medium {
    @media only screen and (min-width: $break-mobile + 1) and (max-width: $break-medium - 1) {
      @content;
    }
  }
  @else if $media == large {
    @media only screen and (min-width: $break-medium + 1) and (max-width: $break-xlarge - 1) {
      @content;
    }
  }
  @else if $media == x-large {
    @media only screen and (min-width: $break-xlarge) {
      @content;
    }
  }
}
