//Composition

.fluid{
  width: 100%;
}

.responsive{
  display: block;
  height: auto;
  max-width: 100%;
}

.background-video{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 3;
}

//Text
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

.sectiontitle{
  color: $brand-color;
  font-family: $subheading-font-family;
  font-size: 1.4em;
  font-weight: 600;
  margin: 0 0 4rem 10px;
  text-transform: uppercase;
  .negative{
    @include negative(color);
    &:before{
      @include negative(background);
    }
  }
}

.headline{
  font-family: $heading-font-family;
  font-size: 4em;
  letter-spacing: -.4rem;
  line-height: 120%;
  @include respond-to(mobile){
    font-size: 2em;
    letter-spacing: -.2rem;
  }
  @include respond-to(medium){
    font-size: 3em;
    letter-spacing: -.3rem;
  }
  @include respond-to(large){
    font-size: 4em;
    letter-spacing: -.4rem;
  }
  &.negative{
    @include negative(color);
  }
}

.t-left{
  text-align: left;
}

.t-right{
  text-align: right;
  @include respond-to(mobile){
    text-align: left;
  }
}

.t-center{
  text-align: center;
}

.t-justify{
  text-align: justify;
}

// Decorations ;D

.bar{
  background: $special-color;
  display: inline-block;
  height: 3px;
  margin: 0 .5em .3em 0;
  width: 2em;
  &.negative{
    @include negative(background);
  }
}

.overlay{
  background: $brand-color;
  left: 0;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 6;
}

.brand-background{
  background: $brand-color;
}

.dark-gradient-background{
  background: rgb(26,30,35); 
  background: -moz-radial-gradient(left bottom, ellipse cover, rgb(26,30,35) 20%, rgb(53,65,71) 100%); 
  background: -webkit-radial-gradient(left bottom, ellipse cover, rgb(26,30,35) 20%,rgb(53,65,71) 100%); 
  background: radial-gradient(ellipse at left bottom, rgb(26,30,35) 20%,rgb(53,65,71) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1e23', endColorstr='#354147',GradientType=1 ); 
}

.base-background{
  background:  $background-color;
}

.special-background{
  background: $special-color;
}
