//Composition

.fluid{
  width: 100%;
}

.responsive{
  display: block;
  height: auto;
  max-width: 100%;
}

//Text
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

.sectiontitle{
  color: $brand-color;
  font-family: "Trebuchet MS";
  font-size: 1.4em;
  font-weight: 600;
  margin: 0 0 4rem 10px;
  text-transform: uppercase;
  &:before{
    background: $orange;
    content: " ";
    height: 4px;
    top: 2em;
    position: absolute;
    width: 80px;
  }
}

.headline{
  font-family: $heading-font-family;
  font-size: 5em;
  letter-spacing: -.4rem;
  line-height: 85%;
}

.t-left{
  text-align: left;
}

.t-right{
  text-align: right;
}

.t-center{
  text-align: center;
}

.t-justify{
  text-align: justify;
}
