//Colors by name
$orange: rgb(252, 68, 27);
$white: rgb(255, 255, 255);
$gray: rgba(41, 41, 41, 1);


//Colors by use
$background-color: $white;
$brand-color: $orange;
$base-color: $gray;

//Grid system variables
$content-width: 1024px;
$grid-col-num: 8;
$space-col: 20px;
$space-row: 20px;

//Fonts
$base-font-size: 16px;
$heading-font-family: 'Montserrat', Helvetica, Arial, sans-serif;
$heading-font-weight: 800;
$body-font-family: 'Georgia', 'Times', 'Times New Roman', serif;

//My RWD Breakpoints
$break-mobile: 450px;
$break-medium: 980px;
$break-xlarge: 1200px;
