//Colors
$background-color: rgb(236, 239, 242);
$brand-color: rgb(252, 68, 27);
$base-color: #354147;
$special-color: rgb(128, 122, 115);
$article-color: rgb(255, 255, 255);

//Grid system variables
$regular-padding: 20px;
$content-width: 1024px;
$grid-col-num: 8;
$space-col: $regular-padding;
$space-row: $regular-padding;

//Fonts
$base-font-size: 16px;
$heading-font-family: 'Montserrat', Helvetica, Arial, sans-serif;
$heading-font-weight: 800;
$subheading-font-family: 'Oswald', 'Trebuchet MS', sans-serif;
$body-font-family: 'Georgia', 'Times', 'Times New Roman', serif;

//Fonts icons
$icon-github: \e909;
$icon-linkedin: \e90a;
$icon-twitter: \e90b;
$icon-burguer: \e900;
$icon-magnify: \e901;
$icon-redo: \e902;
$icon-undo: \e903;
$icon-plus: \e904;
$icon-cross: \e905;
$icon-reload: \e906;
$icon-next: \e907;
$icon-back: \e908;

//My RWD Breakpoints
$break-mobile: 450px;
$break-medium: 980px;
$break-xlarge: 1200px;
