@import "_fonts.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "_grid.scss";
@import "_oocss-classes.scss";

*{
  @include border-box();
}

html{
  font-size: $base-font-size;
}

body{
  @include disable-spaces();
  background: $background-color;
  color: $base-color;
  font-family: $body-font-family;
  font-size: 1.8em;
  @include respond-to(mobile){
    font-size: 1em;
  }
  @include respond-to(medium){
    font-size: 1.2em;
  }
  @include respond-to(large){
    font-size: 1.5em;
  }
  @include respond-to(x-large){
    font-size: 1.8em;
  }
}

h1,h2,h3{
  margin: 1rem 0;
}

p{
  line-height: 1.65em;
}
