@import "_variables.scss";
@import "_fonts.scss";
@import "_mixins.scss";
@import "_grid.scss";
@import "_oocss-classes.scss";
@import "_wordpress-specifics.scss";

*{
  @include border-box();
}

html{
  font-size: $base-font-size;
  line-height: $base-font-line-height;
}

body{
  background: $background-color;
  color: $base-color;
  font-family: $body-font-family;
  font-size: 1.8em;
  font-weight: $body-font-weight;
  @include disable-spaces();
  @include respond-to(mobile){
    font-size: 1em;
  }
  @include respond-to(medium){
    font-size: 1.2em;
  }
  @include respond-to(large){
    font-size: 1.5em;
  }
  @include respond-to(x-large){
    font-size: 1.8em;
  }
  &.negative{
    @include negative(color);
    @include negative(background);
  }
}

h1, h2, h3{
  font-family: $heading-font-family;
  line-height: 1em;
  margin: 1rem 0;
}

a{
  color: $special-color;
  text-decoration: none;
}

p{
  hyphens: auto;
  line-height: $base-font-line-height;
  &.negative{
    @include negative(color);
  }
}

blockquote{
  color: $special-color;
  font-style: italic;
}

nav{
  height: 100%;
  left: 100%;
  overflow: hidden;
  padding: 10%;
  position: fixed;
  top: 0;
  transition: all .2s ease-in;
  width: calc(100% - 70px);
  z-index: 5;
  &.open{
    left: 70px;
    transition: all .2s ease-in;
    @include respond-to(mobile){
      left: 0;
      width: 100%;
    }
  }
  .navContainer{
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 7;
    ul{
      display: inline-block;
      left: 50%;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 6;
      li{
        a{
          color: $background-color;
          display: block;
          font-family: $heading-font-family;
          font-size: 2.5em;
          font-weight: $heading-font-weight;
          padding: 0 $regular-padding;
          position: relative;
          &::before,
          &::after{
            background: $background-color;
            content: " ";
            height: 4px;
            left: -2em;
            top: .65em;
            position: absolute;
            transition: width .2s ease-in;
            width: 0;
          }
          &:hover::before,
          &:hover::after{
            transition: width .2s ease-in;
            width: 2em;
          }
          &:hover::after{
            left: auto;
            right: -2em;
          }
        }
      }
    }
  }
}

section{
  padding: $regular-padding  $regular-padding $regular-padding $regular-padding + 70px;
  @include respond-to(mobile){
    padding: $regular-padding;
    &:first-of-type{
      padding-top: $regular-padding + 30px;
    }
  }
}

img{
  height: auto;
  max-width: 100%;
}

.social{
  background: $background-color;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 70px;
  z-index: 7;
  @include respond-to(mobile){
    height: 48px;
    width: 100vw;
  }
  a{
    color: $base-color;
    font-size: 28.8px;
    transition: color 0.2s ease-in;
    display: inline-block;
    padding: $regular-padding/2 $regular-padding $regular-padding/2 $regular-padding;
    &:hover{
      color: $brand-color;
      transition: color 0.2s ease-in;
    }
  }
}

.blogArticle{
  background: $article-color;
  box-shadow: 0 7.5px 15px rgba(0, 0, 0, 0.1);
  margin: 0 auto $regular-padding auto;
  max-width: 920px;
  padding: 0 0 60px 0;
  @include respond-to(mobile){
    padding: 0 0 20px 0;
  }
  @include respond-to(medium){
    padding: 0 0 40px 0;
  }
  > *:not(.thumbnail){
    padding: 0 60px;
    @include respond-to(mobile){
      padding: 0 20px;
    }
    @include respond-to(medium){
      padding: 0 40px;
    }
  }
  time,
  address{
    font-size: 0.6em;
  }
  hr{
    border: none;
    border-top: thin solid darken($background-color, 10%);
  }
  ul{
    padding-left: 80px !important;
  }
  p a{
    color: #1a0dab;
  }
}

.thumbnail img{
  max-width: 100%;
  height: auto;
}
