@font-face {
  font-family: 'Montserrat';
  src: url("./assets/fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("./assets/fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Dosis';
  src: url("./assets/fonts/Dosis-Light.woff2") format("woff2"), url("./assets/fonts/Dosis-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Dosis';
  src: url("./assets/fonts/Dosis-SemiBold.woff2") format("woff2"), url("./assets/fonts/Dosis-SemiBold.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'anDesign';
  src: url("./assets/fonts/anDesign.eot?12wcj6#iefix") format("embedded-opentype"), url("./assets/fonts/anDesign.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'anDesign' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-github:before {
  content: "\e909"; }

.icon-linkedin:before {
  content: "\e90a"; }

.icon-twitter:before {
  content: "\e90b"; }

.icon-burguer:before {
  content: "\e900"; }

.icon-magnify:before {
  content: "\e901"; }

.icon-redo:before {
  content: "\e902"; }

.icon-undo:before {
  content: "\e903"; }

.icon-plus:before {
  content: "\e904"; }

.icon-cross:before {
  content: "\e905"; }

.icon-reload:before {
  content: "\e906"; }

.icon-next:before {
  content: "\e907"; }

.icon-back:before {
  content: "\e908"; }

.full {
  display: inline-block;
  padding: 40px 160px;
  vertical-align: top;
  width: 100%; }
  @media only screen and (max-width: 450px) {
    .full {
      width: 100%;
      padding: 40px 40px; } }
  @media only screen and (min-width: 451px) and (max-width: 979px) {
    .full {
      width: 100%;
      padding: 40px 40px; } }

.half {
  display: inline-block;
  padding: 40px 80px;
  vertical-align: top;
  width: 50%; }
  @media only screen and (max-width: 450px) {
    .half {
      width: 100%;
      padding: 40px 40px; } }
  @media only screen and (min-width: 451px) and (max-width: 979px) {
    .half {
      width: 100%;
      padding: 40px 40px; } }

.row {
  clear: both;
  height: auto;
  overflow: hidden;
  padding: 10px 0; }

.container {
  margin: 0 auto;
  width: 1024px; }

.fluid {
  width: 100%; }

.responsive {
  display: block;
  height: auto;
  max-width: 100%; }

.background-video {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 3; }

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 800; }

.sectiontitle {
  color: #fc441b;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  margin: 0 0 4rem 10px;
  text-transform: uppercase; }
  .sectiontitle .negative {
    color: #fafafa; }
    .sectiontitle .negative:before {
      background: #fc441b; }

.headline {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 4em;
  letter-spacing: -.4rem;
  line-height: 120%; }
  @media only screen and (max-width: 450px) {
    .headline {
      font-size: 2em;
      letter-spacing: -.2rem; } }
  @media only screen and (min-width: 451px) and (max-width: 979px) {
    .headline {
      font-size: 3em;
      letter-spacing: -.3rem; } }
  @media only screen and (min-width: 981px) and (max-width: 1199px) {
    .headline {
      font-size: 4em;
      letter-spacing: -.4rem; } }
  .headline.negative {
    color: #fafafa; }

.t-left {
  text-align: left; }

.t-right {
  text-align: right; }
  @media only screen and (max-width: 450px) {
    .t-right {
      text-align: left; } }

.t-center {
  text-align: center; }

.t-justify {
  text-align: justify; }

.bar {
  background: #242424;
  display: inline-block;
  height: 3px;
  margin: 0 .5em .3em 0;
  width: 2em; }
  .bar.negative {
    background: #fc441b; }

.overlay {
  background: #fc441b;
  left: 0;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 6; }

.brand-background {
  background: #fc441b; }

.dark-gradient-background {
  background: #1a1e23;
  background: radial-gradient(ellipse at left bottom, #1a1e23 20%, #354147 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1e23', endColorstr='#354147',GradientType=1 ); }

.base-background {
  background: #fafafa; }

.special-background {
  background: #242424; }

.button {
  background: #fc441b;
  color: #FFF !important;
  display: inline-block;
  font-size: 0.8em;
  padding: 3px 10px;
  -webkit-transition: all 0.3 ease-in;
  transition: all 0.3 ease-in; }
  .button:hover {
    background: #af2202;
    -webkit-transition: all 0.3 ease-in;
    transition: all 0.3 ease-in; }

.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 0.6em;
  margin: 0;
  padding: 0 4px 5px; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  font-size: 16px;
  line-height: 1.6; }

body {
  background: #fafafa;
  color: #424c50;
  font-family: "Dosis", "Times", "Times New Roman", serif;
  font-size: 1.8em;
  font-weight: 300;
  margin: 0;
  padding: 0; }
  @media only screen and (max-width: 450px) {
    body {
      font-size: 1em; } }
  @media only screen and (min-width: 451px) and (max-width: 979px) {
    body {
      font-size: 1.2em; } }
  @media only screen and (min-width: 981px) and (max-width: 1199px) {
    body {
      font-size: 1.5em; } }
  @media only screen and (min-width: 1200px) {
    body {
      font-size: 1.8em; } }
  body.negative {
    color: #fafafa;
    background: #fc441b; }

h1, h2, h3 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  line-height: 1em;
  margin: 1rem 0; }

a {
  color: #242424;
  text-decoration: none; }

p {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  line-height: 1.6; }
  p.negative {
    color: #fafafa; }

blockquote {
  color: #242424;
  font-style: italic; }

nav {
  height: 100%;
  left: 100%;
  overflow: hidden;
  padding: 10%;
  position: fixed;
  top: 0;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  width: calc(100% - 70px);
  z-index: 5; }
  nav.open {
    left: 70px;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in; }
    @media only screen and (max-width: 450px) {
      nav.open {
        left: 0;
        width: 100%; } }
  nav .navContainer {
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 7; }
    nav .navContainer ul {
      display: inline-block;
      left: 50%;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      z-index: 6; }
      nav .navContainer ul li a {
        color: #fafafa;
        display: block;
        font-family: "Montserrat", Helvetica, Arial, sans-serif;
        font-size: 2.5em;
        font-weight: 800;
        padding: 0 20px;
        position: relative; }
        nav .navContainer ul li a::before, nav .navContainer ul li a::after {
          background: #fafafa;
          content: " ";
          height: 4px;
          left: -2em;
          top: .65em;
          position: absolute;
          -webkit-transition: width .2s ease-in;
          transition: width .2s ease-in;
          width: 0; }
        nav .navContainer ul li a:hover::before, nav .navContainer ul li a:hover::after {
          -webkit-transition: width .2s ease-in;
          transition: width .2s ease-in;
          width: 2em; }
        nav .navContainer ul li a:hover::after {
          left: auto;
          right: -2em; }

section {
  padding: 20px 20px 20px 90px; }
  @media only screen and (max-width: 450px) {
    section {
      padding: 20px; }
      section:first-of-type {
        padding-top: 50px; } }

img {
  height: auto;
  max-width: 100%; }

.social {
  background: #fafafa;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 70px;
  z-index: 7; }
  @media only screen and (max-width: 450px) {
    .social {
      height: 48px;
      width: 100vw; } }
  .social a {
    color: #424c50;
    font-size: 28.8px;
    -webkit-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
    display: inline-block;
    padding: 10px 20px 10px 20px; }
    .social a:hover {
      color: #fc441b;
      -webkit-transition: color 0.2s ease-in;
      transition: color 0.2s ease-in; }

.blogArticle {
  background: white;
  -webkit-box-shadow: 0 7.5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 7.5px 15px rgba(0, 0, 0, 0.1);
  margin: 0 auto 20px auto;
  max-width: 920px;
  padding: 0 0 60px 0; }
  @media only screen and (max-width: 450px) {
    .blogArticle {
      padding: 0 0 20px 0; } }
  @media only screen and (min-width: 451px) and (max-width: 979px) {
    .blogArticle {
      padding: 0 0 40px 0; } }
  .blogArticle > *:not(.thumbnail) {
    padding: 0 60px; }
    @media only screen and (max-width: 450px) {
      .blogArticle > *:not(.thumbnail) {
        padding: 0 20px; } }
    @media only screen and (min-width: 451px) and (max-width: 979px) {
      .blogArticle > *:not(.thumbnail) {
        padding: 0 40px; } }
  .blogArticle time,
  .blogArticle address {
    font-size: 0.6em; }
  .blogArticle hr {
    border: none;
    border-top: thin solid #e1e1e1; }
  .blogArticle ul {
    padding-left: 80px !important; }
  .blogArticle p a {
    color: #1a0dab; }

.thumbnail img {
  max-width: 100%;
  height: auto; }
