@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

.col-1 {
  float: left;
  padding: 0 10px;
  width: 12.5%; }

.col-2 {
  float: left;
  padding: 0 10px;
  width: 25%; }

.col-3 {
  float: left;
  padding: 0 10px;
  width: 37.5%; }

.col-4 {
  float: left;
  padding: 0 10px;
  width: 50%; }

.col-5 {
  float: left;
  padding: 0 10px;
  width: 62.5%; }

.col-6 {
  float: left;
  padding: 0 10px;
  width: 75%; }

.col-7 {
  float: left;
  padding: 0 10px;
  width: 87.5%; }

.col-8 {
  float: left;
  padding: 0 10px;
  width: 100%; }

.off-1 {
  margin-left: 12.5%; }

.off-2 {
  margin-left: 25%; }

.off-3 {
  margin-left: 37.5%; }

.off-4 {
  margin-left: 50%; }

.off-5 {
  margin-left: 62.5%; }

.off-6 {
  margin-left: 75%; }

.off-7 {
  margin-left: 87.5%; }

.row {
  clear: both;
  height: auto;
  overflow: hidden;
  padding: 10px 0; }

.container {
  margin: 0 auto;
  width: 1024px; }

.fluid {
  width: 100%; }

.responsive {
  display: block;
  height: auto;
  max-width: 100%; }

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 800; }

.sectiontitle {
  color: #fc441b;
  font-family: "Trebuchet MS";
  font-size: 1.4em;
  font-weight: 600;
  margin: 0 0 4rem 10px;
  text-transform: uppercase; }
  .sectiontitle:before {
    background: #fc441b;
    content: " ";
    height: 4px;
    top: 2em;
    position: absolute;
    width: 80px; }

.headline {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 5em;
  letter-spacing: -.4rem;
  line-height: 85%; }

.t-left {
  text-align: left; }

.t-right {
  text-align: right; }

.t-center {
  text-align: center; }

.t-justify {
  text-align: justify; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  background: white;
  color: #292929;
  font-family: "Georgia", "Times", "Times New Roman", serif;
  font-size: 1.8em; }
  @media only screen and (max-width: 450px) {
    body {
      font-size: 1em; } }
  @media only screen and (min-width: 451px) and (max-width: 979px) {
    body {
      font-size: 1.2em; } }
  @media only screen and (min-width: 981px) and (max-width: 1199px) {
    body {
      font-size: 1.5em; } }
  @media only screen and (min-width: 1200px) {
    body {
      font-size: 1.8em; } }

h1, h2, h3 {
  margin: 1rem 0; }

p {
  line-height: 1.65em; }
