@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Oswald';
  src: url("../assets/fonts/Oswald-Regular.woff2") format("woff2"), url("../assets/fonts/Oswald-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'anDesign';
  src: url("../assets/fonts/anDesign.eot?12wcj6#iefix") format("embedded-opentype"), url("../assets/fonts/anDesign.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'anDesign' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-github:before {
  content: "\e909"; }

.icon-linkedin:before {
  content: "\e90a"; }

.icon-twitter:before {
  content: "\e90b"; }

.icon-burguer:before {
  content: "\e900"; }

.icon-magnify:before {
  content: "\e901"; }

.icon-redo:before {
  content: "\e902"; }

.icon-undo:before {
  content: "\e903"; }

.icon-plus:before {
  content: "\e904"; }

.icon-cross:before {
  content: "\e905"; }

.icon-reload:before {
  content: "\e906"; }

.icon-next:before {
  content: "\e907"; }

.icon-back:before {
  content: "\e908"; }

.col-1 {
  float: left;
  padding: 0 10px;
  width: 12.5%; }

.col-2 {
  float: left;
  padding: 0 10px;
  width: 25%; }

.col-3 {
  float: left;
  padding: 0 10px;
  width: 37.5%; }

.col-4 {
  float: left;
  padding: 0 10px;
  width: 50%; }

.col-5 {
  float: left;
  padding: 0 10px;
  width: 62.5%; }

.col-6 {
  float: left;
  padding: 0 10px;
  width: 75%; }

.col-7 {
  float: left;
  padding: 0 10px;
  width: 87.5%; }

.col-8 {
  float: left;
  padding: 0 10px;
  width: 100%; }

.off-1 {
  margin-left: 12.5%; }

.off-2 {
  margin-left: 25%; }

.off-3 {
  margin-left: 37.5%; }

.off-4 {
  margin-left: 50%; }

.off-5 {
  margin-left: 62.5%; }

.off-6 {
  margin-left: 75%; }

.off-7 {
  margin-left: 87.5%; }

.row {
  clear: both;
  height: auto;
  overflow: hidden;
  padding: 10px 0; }

.container {
  margin: 0 auto;
  width: 1024px; }

.fluid {
  width: 100%; }

.responsive {
  display: block;
  height: auto;
  max-width: 100%; }

.background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 3; }

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 800; }

.sectiontitle {
  color: #fc441b;
  font-family: "Oswald", "Trebuchet MS", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  margin: 0 0 4rem 10px;
  text-transform: uppercase; }
  .sectiontitle .negative {
    color: #eceff2; }
    .sectiontitle .negative:before {
      background: #fc441b; }

.headline {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 5em;
  letter-spacing: -.4rem;
  line-height: 85%;
  word-wrap: break-word; }
  @media only screen and (max-width: 450px) {
    .headline {
      font-size: 3em;
      letter-spacing: -.2rem; } }
  @media only screen and (min-width: 451px) and (max-width: 979px) {
    .headline {
      font-size: 4em;
      letter-spacing: -.3rem; } }
  @media only screen and (min-width: 981px) and (max-width: 1199px) {
    .headline {
      font-size: 5em;
      letter-spacing: -.4rem; } }
  .headline.negative {
    color: #eceff2; }

.t-left {
  text-align: left; }

.t-right {
  text-align: right; }

.t-center {
  text-align: center; }

.t-justify {
  text-align: justify; }

.bar {
  background: #807a73;
  display: inline-block;
  height: 3px;
  margin: 0 .5em .3em 0;
  width: 2em; }
  .bar.negative {
    background: #fc441b; }

.overlay {
  background: #fc441b;
  left: 0;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 6; }

.brand-background {
  background: #fc441b; }

.dark-gradient-background {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a1e23+0,354147+97 */
  background: #1a1e23;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at left bottom, #1a1e23 20%, #354147 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1e23', endColorstr='#354147',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.base-background {
  background: #eceff2; }

.special-background {
  background: #807a73; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  font-size: 16px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto; }

body {
  background: #eceff2;
  color: #354147;
  font-family: "Georgia", "Times", "Times New Roman", serif;
  font-size: 1.8em;
  margin: 0;
  padding: 0; }
  @media only screen and (max-width: 450px) {
    body {
      font-size: 1em; } }
  @media only screen and (min-width: 451px) and (max-width: 979px) {
    body {
      font-size: 1.2em; } }
  @media only screen and (min-width: 981px) and (max-width: 1199px) {
    body {
      font-size: 1.5em; } }
  @media only screen and (min-width: 1200px) {
    body {
      font-size: 1.8em; } }
  body.negative {
    color: #eceff2;
    background: #fc441b; }

h1, h2, h3 {
  margin: 1rem 0; }

a {
  color: #807a73;
  text-decoration: none; }

p {
  line-height: 1.65em; }
  p.negative {
    color: #eceff2; }

blockquote {
  color: #807a73;
  font-style: italic; }

nav {
  display: none;
  height: 100%;
  left: 100%;
  padding: 10%;
  position: fixed;
  top: 0;
  -webkit-transition: left .3s ease-in;
  transition: left .3s ease-in;
  width: 100%;
  z-index: 5; }
  nav.open {
    display: block;
    left: 0;
    -webkit-transition: left .3s ease-in;
    transition: left .3s ease-in; }
  nav .navContainer {
    height: 100%;
    left: 0;
    padding: 10%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 7; }
    nav .navContainer ul {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0; }
      nav .navContainer ul li a {
        color: #eceff2;
        display: block;
        font-family: "Montserrat", Helvetica, Arial, sans-serif;
        font-size: 2.5em;
        font-weight: 800;
        padding: 0 20px; }
        nav .navContainer ul li a::before, nav .navContainer ul li a::after {
          background: #eceff2;
          content: " ";
          height: 4px;
          left: -2em;
          top: .65em;
          position: absolute;
          -webkit-transition: width .2s ease-in;
          transition: width .2s ease-in;
          width: 0; }
        nav .navContainer ul li a:hover::before, nav .navContainer ul li a:hover::after {
          -webkit-transition: width .2s ease-in;
          transition: width .2s ease-in;
          width: 2em; }
        nav .navContainer ul li a:hover::after {
          left: auto;
          right: -2em; }

section {
  padding: 60px 0 60px 70px; }

.social {
  background: #eceff2;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 70px;
  z-index: 7; }
  .social a {
    color: #354147;
    -webkit-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
    display: block;
    padding: 20px 20px 0 20px; }
    .social a:hover {
      color: #fc441b;
      -webkit-transition: color 0.2s ease-in;
      transition: color 0.2s ease-in; }
  @media only screen and (max-width: 450px) {
    .social {
      width: 50px; } }
  @media only screen and (min-width: 451px) and (max-width: 979px) {
    .social {
      width: 60px; } }
  @media only screen and (min-width: 981px) and (max-width: 1199px) {
    .social {
      width: 70px; } }
  @media only screen and (min-width: 1200px) {
    .social {
      width: 70px; } }
